.options {
    display: flex;
    margin-left: 0.5rem;
    font-weight: 600;
    padding: 0.3rem;
    line-height: 1.2rem;
    white-space: nowrap;
}
.options:hover {
    cursor: pointer;
    border-radius: 0.2rem;
}